<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>お知らせ - I</title>
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link href="../assets/css/sub.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="titlelogo" class="navbar-brand" href="top.html">HITORIs</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>

      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="login.html">ログイン<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="top.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">メニュー<span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><a href="info.html">お知らせ</a></li>
            <li><a href="questions.html">よくある質問</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="signup.html">新規登録</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse-->
  </div > <!--/.container-fluid-->
</nav>
<div class="container" id="hitoris">
  <div class="row">
   <div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">見出し</h4>
    <p class="list-group-item-text">本文</p>
  </a>
</div>
<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">見出し</h4>
    <p class="list-group-item-text">本文</p>
  </a>
</div>
<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">見出し</h4>
    <p class="list-group-item-text">本文</p>
  </a>
</div>

</div>
</div>
 <footer class="global-footer">
  <nav>
    <h4><a href="hitoris.html">「HITORIs」</a>について</h4>
    <div class="footercontents">
      <li><a href="info.html">お知らせ</a></li>
      <li><a href="questions.html">よくある質問</a></li>
    </div>
  </nav>
  <p class="copyright">Copyright &copy; 2016</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
</body>
</html>