<!DOCTYPE html>
<html lang="jas">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>HITORIs</title>

    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/list.css" rel="stylesheet">
    <link href="../assets/css/mutual.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">

      <div class="input-group">
        <input type="text" class="form-control" placeholder="◯/◯/◯を検索">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class='glyphicon glyphicon-search'></i>
          </button>
        </span>
      </div>

      <div class="labels">
        <p>タグで絞り込み→
        <a href="#" class="label label-danger">分ける</a>
        <a href="#" class="label label-success">集まる</a>
        <a href="#" class="label label-default">知る</a></p>
      </div>

      <div class="lists">
<!-- 一つ目 -->
        <div class="list market">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3 class="panel-title textOverflowTest1">玉葱下さい！！</h3>
            </div>
            <div class="panel-footer">
              <div class="information">
                <a class="station">今出川駅</a>
                <a class="timestamp">1:20</a>
              </div>
            </div>
          </div>
        </div>
<!-- 二つ目 -->
        <div class="list event">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3 class="panel-title textOverflowTest1">下宿男子！５限後！飲み会！</h3>
            </div>
            <div class="panel-footer">
              <div class="information">
                <a class="station">今出川駅</a>
                <a class="timestamp">1:20</a>
                <a class="tags">野菜,たまねぎ,今日</a>
              </div>
            </div>
          </div>
        </div>
<!-- 三つ目 -->
        <div class="list market">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3 class="panel-title textOverflowTest1">ペンチ貸して下さい・・・</h3>
            </div>
            <div class="panel-footer">
              <div class="information">
                <a class="station">今出川駅</a>
                <a class="timestamp">1:20</a>
              </div>
            </div>
          </div>
        </div>
        <!-- 四つ目 -->
                <div class="list information">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h3 class="panel-title textOverflowTest1">このレシピ美味しいよー！！</h3>
                    </div>
                    <div class="panel-footer">
                      <div class="information">
                        <a class="station">今出川駅</a>
                        <a class="timestamp">1:20</a>
                      </div>
                    </div>
                  </div>
                </div>
        <!-- 五つ目 -->
                <div class="list event">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h3 class="panel-title textOverflowTest1">（女子会）</h3>
                    </div>
                    <div class="panel-footer">
                      <div class="information">
                        <a class="station">今出川駅</a>
                        <a class="timestamp">1:20</a>
                      </div>
                    </div>
                  </div>
                </div>
        <!-- 六つ目 -->
                <div class="list information">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h3 class="panel-title textOverflowTest1">自転車通学の講習会ありますよ！</h3>
                    </div>
                    <div class="panel-footer">
                      <div class="information">
                        <a class="station">今出川駅</a>
                        <a class="timestamp">1:20</a>
                      </div>
                    </div>
                  </div>
                </div>
    </div>
