<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HITORIs</title>
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link href="../assets/css/make_thread.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
</head>
<body>
<nav class="navbar navbar-default">
      <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="titlelogo" class="navbar-brand" href="top.html">HITORIs</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <!-- <ul class="nav navbar-nav">
        <li class="active"><a href="info.html">お知らせ<span class="sr-only">(current)</span></a></li>
        <li><a href="questions.html">よくある質問</a></li>
      </ul> -->

      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="login.html">ログイン<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="top.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">メニュー<span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><a href="info.html">お知らせ</a></li>
            <li><a href="questions.html">よくある質問</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="signup.html">新規登録</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse-->
  </div > <!--/.container-fluid-->
</nav>
<div id="main" class="container"> 
  <div class="row">
    <h2>新スレッド作成</h2>
  <div class="thread">
    <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>必要事項</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="form-group">
              <label for="title">スレッドタイトル </label>
            <input id="title" name="title" type="text" 
            class="form-control" required/>
           </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="myimage">スレッド画像</label><br>
            <img src="img/nanasi.png" class="img-polaroid img-responsive" name="myimage"><br>
            <button class="btn">ファイル選択</button>
          </td>
        </tr>
        <tr id="comment">
          <td><div class="form-group">
            <label for="comment">詳細説明　</label>
            <textarea class="form-control" id="comment" name="comment" style="resize:vertical" rows="10"></textarea></div></td>
        </tr>
      </tbody>
   </table>
 </div>
 <div>
  <button class="btn btn-large btn-block btn-primary" type="button" id="btn">
    作成</button>
 </div>
</div>
</div>
  <footer class="global-footer">
  <nav>
    <h4><a href="hitoris.html">「HITORIs」</a>について</h4>
    <div class="footercontents">
      <li><a href="info.html">お知らせ</a></li>
      <li><a href="questions.html">よくある質問</a></li>
    </div>
  </nav>
  <p class="copyright">Copyright &copy; 2016</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
</body>
</html>