body {
  background-color: #efefef;
  /*background-image: url("../img/menuback.jpg");*/
  /*background-repeat: no-repeat;
  background-size: 250%;
  background-attachment: fixed;*/
}


.planeex {
  margin:2px 10px;
  position: relative;
}


.profilepic {
  margin:1.5px;
  weight:67px;
  height:67px;
	position: absolute;
	display: inline-block;
	border-radius: 50%;
  box-shadow:0px 0px 5px 3px rgba(0, 0, 0, 0.2) inset;
  border:1px solid #000;
}

/*.popover.right {
    height:60px;
    position: absolute;
    top:15px;
    bottom:0px
    margin: auto;
    left:70px;
}*/

/*.popover-title {
    padding: 5px 5px;
    margin: 0;
    font-size: 14px;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
    text-align: center;
    background-color: white;
    font-weight: 600;
}*/

/*.popover-content {
    padding: 0px 10px;
    text-align: left;
    vertical-align: middle;
}*/

/*.popover-content p {
    margin: 0px;
}*/

/*.planeex :active{
  background-color: #DCDCDC;
}*/

.user_name{
  position: absolute;
  color: #fff;
  background: rgba(0,0,0,.6);
  margin-top:-15px;
  border-radius: 5px;
  font-size: 9px;
  margin-left: 9px;
  padding:1px;
}

.user_name :active {
  background-color: #8CBEB2;
}

.kakko {
  /*background-color: blue;*/
  /*border: solid 2px #8CBEB2;*/
  background-color: #8CBEB2;
  margin-top:25px;
  margin-left:75px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding:5px;
  min-height: 70px;
  box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.jibun {
  /*background-color: blue;*/
  /*border: solid 2px #F06060;*/
  background-color: white;
  margin-top:25px;
  margin-right:0px;
  margin-left: 75px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding:5px;
  min-height: 70px;
  box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

button.btn {
  float:right;
  padding-top:2px;
  height:25px;
  background-color: #3498db;
  color:white;
  font-weight: bold;
}

button.btn :active{
  background-color: #3289c3;
  color:white;
}
