/*ラベル*/
.labels{
  font-size: 18px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.labels p {
  font-size: 15px;
}

.labels a {
  font-size: 15px;
}

/*個々のリスト(list)↓*/
.list {
  margin:10px 10px;
}

.panel-body {
  height:50px;
  padding:12px;
  border-radius: 3px;
}

.list h3 {
  text-align: center;
  font-size: 25px;
  padding-top: 0px
  margin-right:40px;
  color: white;
  font-weight: 600;;
}


.panel-footer{
  height:20px;
  padding:0px;
  padding-right: 10px;
  margin-bottom: 0px;
  padding-left: 10px;
  text-align: center;
}

.market .panel-body{
  background-color: #F06060;
}

.event .panel-body{
background-color: #8CBEB2;
}

.information .panel-body{
  background-color: #95a5a6;
}
/*↑ここまで*/

/*長い文字列を…で表示*/
.textOverflowTest1 {
  overflow: hidden;
  line-height: 1.0;
  white-space: nowrap;
  margin-right: 20px;
}

.textOverflowTest1 {
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; /* Safari */
  -o-text-overflow: ellipsis; /* Opera */
}
/*↑ここまで*/
